		.accordion-interior
		{
			border-radius: 1px;
			margin-bottom: 5px;
			width: auto;
		}
		.accordion-external{
			border-radius: 4px;
			margin-bottom: 10px;
			height: auto;
			width: 500px;
		}
		.accordion-external-header {
			border-bottom: 1px solid #000000;
			background-color: #ffffff;
			cursor: pointer;
			padding: 30px;
			font-weight: bold;
			white-space: pre;
		}
		.accordion-interior-header {

			background-color: #ffffff;
			cursor: pointer;
			padding: 30px;
			font-weight: bold;
			border-bottom: 1px solid #000000;
			white-space: pre;
		}
		.accordion-content {
			padding: auto;
			display: none;
		}
		.accordion-form{
			padding: 20px;
			border-radius: 4px;
			margin-bottom: 10px;
			border: 1px solid #000000;
		}
		.add-complect{
			border-style: solid;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0px;
			margin: -67px 21px 0 auto;
			padding: 10px 21px;
			background: #FFFFFF;
		}
		.devices{
			text-align: center;
			font-weight: bold;
		}
		.interior-accordion-div{
			padding-left: 50px;
		}
		.label{
			font-weight: bold;
		}
		.input-text{
			display: block;
			width: 100%;
			padding: 10px 12px;
			background-image: none;
			background-clip: padding-box;
			border-radius: 3px;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			background-color: transparent;
			color: inherit;
			height: auto;
		}
		.input-selection{
			display: block;
			width: 100%;
			padding: 10px 12px;
			background-image: none;
			background-clip: padding-box;
			border-radius: 3px;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			background-color: transparent;
			color: inherit;
			height: auto;
		}
		.input-submit
		{
			border-style: solid;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0px;
			margin: -67px 21px 0 auto;
			padding: 10px 21px;
			background: #FFFFFF;
		}
